<h2>Dear <%= @preconsultation.client.first_name %>,</h2>

<p>Thanks you for preconsultation form. It has been received by In Motion Food Company.</p>

<p>We will be in touch to book your Consultation in the next 24 hours.</p>

<p>If you need anything else in the meantime, please reply to this email.</p>

<p>Kind regards,<br>
In Motion Food Company</p>
