<div class="container">
  <h2 class="h-font form-header"><%= @blog.title %></h2>
  <p class="p-font sub-heading">By <%= @blog.user.first_name %> <%= @blog.user.last_name %></p>
  <p><%= @blog.content %></p>
</div>
