<h2>Dear <%= @enquiry.first_name %>,</h2>

<p>Thanks for your enquiry to book a consultation with In Motion Food Company.</p>

<!-- <a href="http://localhost:3000/preconsultations/new"><button>Complete your preconsultation</button></a> -->
<%= link_to @url do %>
  <button>Complete your preconsultation form</button>
<% end %>
