<h2>Dear <%= @enquiry.first_name %>,</h2>

<p>Thanks for your enquiry to book a consultation with In Motion Food Company.</p>

<p>In order to undertake any service with In Motion Food Co. We ask all potential clients to complete the following Pre-Consultation Form, in detail, so we can get a better insight into you, your background and your goals.</p>

<p>Once complete, we'll get in touch to book your consultation before personally recommending a service based on your individual goals and budget.</p>

<p>Click the link below to get started.</p>

<%= link_to @url do %>
  <button>Complete your preconsultation form</button>
<% end %>
