<div class="navbar">
  <div class="container nav-container">
    <%= image_tag(("logo.png"), class: "logo") %>
    <div class="links">
      <ul class="nav-menu">
        <li class="nav-links">Home</li>
        <li class="nav-links">About</li>
        <li class="nav-links">Services</li>
        <li class="nav-links">Contact</li>
      </ul>
    </div>
      <li class="nav-links blog-link">Blog</li>
  </div>
</div>
