<div class='banner' style="background-image: url('https://res.cloudinary.com/dvh0qbhxn/image/upload/v1560877898/nrkww3yb2q6u1jz3irzk.jpg');">
    <div class="banner-text">
      <h1 class="title-font">In Motion Food Company</h1>
      <p class="p-font sub-heading">For all of your nutrition needs</p>
    </div>
</div>

<div class="container home">
  <h2 class="h-font">We will look after your nutrition requirements</h2>
  <p class="p-font">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla qui, provident, omnis quod cum vel, voluptates rem quos corporis delectus neque maiores id obcaecati commodi illo at porro repellendus, quas.</p>
  <p class="p-font">Soluta error magni blanditiis nulla vitae, necessitatibus harum! Quae voluptatum maiores ipsum distinctio accusamus. Et provident soluta ea dolor eius illum rerum quibusdam voluptas odio ratione amet, magni aperiam explicabo.</p>
</div>
