<div class="container">
  <h2 class="center">Congratulations <%= @preconsultation.first_name %>, your booking has been made</h2>
  <p class="center">You will shortly receive an email with your confirmation</p>
</div>
