@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Playfair+Display&display=swap');

.title-font {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
}

.h-font {
  font-family: 'Playfair Display', serif;
  margin-bottom: 30px;
}

.p-font {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

.sub-heading {
  font-size: 25px;
}
