.section-one {
  margin-bottom: 50px;
}

.section-two {
  margin-bottom: 50px;
}

.section-three {
  margin-bottom: 50px;
}

.section-four {
  margin-bottom: 50px;
}

.section-five {
  margin-bottom: 50px;
}

.hide {
  display: none;
}
