.title-font {
  font-family: $headers-font;
  font-size: 3.5rem;
}

.h-font {
  font-family: $headers-font;
  margin-bottom: 30px;
}

.p-font {
  font-family: $body-font;
  font-size: 18px;
  margin-top: 20px;
}

.sub-heading {
  font-size: 25px;
}
