<div class="container">
  <h2 class="h-font form-header">Thank you for your enquiry, <%= @enquiry.first_name %>!</h2>
  <p class="p-font">A member of the team will soon be in touch.</p>
  <p class="p-font">You will recieve a confirmation email. Should you wish to book a consultation, there is a link to the preconsultation form.</p>
  <p class="p-font">Once we have received this, we will be in touch within 24 hours to book your consultation.</p>
</div>
